# path:       /home/klassiker/.local/share/repos/python/speed_test.timer
# author:     klassiker [mrdotx]
# github:     https://github.com/mrdotx/python
# date:       2020-05-23T14:33:11+0200

[Unit]
Description=hourly run speed_test.service

[Timer]
OnCalendar=0/1:45:00
AccuracySec=5m
Unit=speed_test.service

[Install]
WantedBy=timers.target
