# path:       /home/klassiker/.local/share/repos/python/speed_test.service
# author:     klassiker [mrdotx]
# github:     https://github.com/mrdotx/python
# date:       2020-12-28T15:42:48+0100

[Unit]
Description=speed test in user contaxt alarm

[Service]
Type=oneshot
ExecStart=%h/.local/share/repos/python/speed_test.py

[Install]
WantedBy=multi-user.target
